/* Additional styles for the about section */
* {
    font-family: 'Consolas', 'Monaco', monospace;
}

.about-section {
    padding: 20px;
}

.tab-container {
    display: inline-block;
    /* This will make the container as wide as its content */
    border: 1px solid #333;
    /* If you want the border around the tabs */
    text-align: center;

}

.tab {
    display: flex;
    /* Use flexbox to remove any unwanted gaps */
    justify-content: center;
}



.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    font-size: 17px;

}


.tab button:hover {
    /* background-color: #ddd; */
    color: #FD7E08;
}

.tab button:first-child.active {
    background-color: #FD7E08;
    color: black;
}

/* Target the second .tab button */

.tab button:nth-child(2).active {
    background-color: #3498db;
    color: black;
}

/* Target the second .tab button */
.tab button:nth-child(3).active {
    background-color: white;
    color: black;
}



/* Target the last .tab button */
.tab button:last-child.active {
    background-color: #46cdd4;
    color: black;

}

.tabcontent {
    padding: 6px 12px;
    /* Adjust these values to reduce or increase padding */

    background-color: #0D0D0D;
    color: #0e2959;
    color: #E5E9F0;
    display: none;
    /* Use flex to layout children */
    /* align-items: flex-start; */
    /* justify-content: space-between; */
    /* This can be removed if not needed */
}

/* Wrapper for the bio text and image */
.bio-wrapper {
    display: grid;
    grid-template-columns: 3.5fr 1fr;
    align-items: start;
    justify-content: center;
    max-height: 76vh;
    overflow: auto;
}


.bio-text {
    font-family: 'Consolas', 'Monaco', monospace;
    background-color: #0D0D0D;
    color: rgb(143, 147, 148);
    white-space: pre-line;
    /* Mimics the pre-formatting to some extent */
    word-wrap: break-word;
    /* Ensures the text fits within the container */
    font-size: 15px;
    margin: 0;
    padding: 25px;
    border-left: 3px solid #FD7E08;
    overflow-wrap: break-word;
    /* Prevents long strings from overflowing */
}

.bio-image {
    /* Adjust the width as necessary to fit your layout */
    max-width: 200px;
    /* Example width, you can use percentage or fixed sizes */
    align-self: center;
    /* Align the image vertically */
    /* margin-left: 20px; */
    /* Add some space between the text and the image */
}



/* #######################  LEARNING ################################## */
#Learning {
    background-color: #0D0D0D;
    color: #fff;
    /* Ensures text is readable on the dark background */
}

.learning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjust this as needed */
    border-left: 3px solid #3498db;
    max-height: 76vh;
    overflow: auto;
    padding-left: 10px;

}



.learning-box {
    max-width: 90%;
    /* Allows for a bit more fluidity on smaller screens */
    margin: 10px auto;
    border: 2px solid #222;
    /* Subtle border for dark mode */
    background-color: #f9f9f9;
    color: #000;
    padding: 20px;
    box-shadow: 5px 5px 5px #333;
    /* Soften the shadow for a cleaner look */
    border-radius: 15px;
    text-align: justify;
    /* margin: 20px; */
}



.first-letter {
    font-size: 1.2em;
    font-weight: 900;
}

#toggleCoursesTable {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* display: block; */
    /* Ensures it's properly aligned */
    margin: 10px auto;

    /* Centers the button */
}

#toggleCoursesTable:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}


th {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

td a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}


td a:hover {
    background-color: #2980b9;
}

/* ####################  SKILL  ############################# */



#Skills {
    /* padding: 6px 12px; */
    background-color: #0D0D0D;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    /* Adjust this as needed */
    border-left: 3px solid white;
    height: 76vh;
    overflow: auto;
    padding-left: 10px;
}

.skills-section {
    flex: 0 1 calc(50% - 100px);
    /* Adjusted flex property */
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    /* Ensures padding is included in the width calculation */
    color: rgb(143, 147, 148);
}

.skills-section h2 {
    color: #ddd;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.skills-list li strong {
    font-size: 0.9em;

    color: #0D0D0D;
    color: rgb(143, 147, 148);
}

.skill-icon {
    width: 25px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: -5px;
    /* Space between icon and label */
}

/* ####################  INTEREST  ############################# */
#Interests {
    /* padding: 6px 12px; */
    background-color: white;
}

.interests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    /* Adjust the space between items */
    justify-items: center;
    /* Center items horizontally */
    align-items: center;
    /* Center items vertically */
    padding: 50px 100px;
    /* Add some padding around the grid */
    height: 76vh;
    overflow: auto;
    border-left: 3px solid #46cdd4;
}

.interest {
    display: flex;
    flex-direction: column;
    /* Stack icon and text vertically */
    align-items: center;
    /* Center them horizontally */
    text-align: center;
    /* Center the text label */
}

.interest-icon {
    width: 40px;
    /* Adjust the size as needed */
    height: auto;
    /* Maintain aspect ratio */
    margin-bottom: 8px;
    /* Space between icon and label */
}

.interest-name {
    font-size: 0.9em;
    /* Adjust the size as needed */
    color: black;
    /* Adjust the text color as needed */
}



/* ################## RESPONSIVENESS ################## */
@media (max-width: 768px) {
    .tab-container {
        width: 100%;
        /* Make the tab container take the full width */
        box-sizing: border-box;
        /* Ensures padding doesn't add to the width */
    }

    .tab {
        flex-direction: row;
        /* Stack tabs vertically */
    }

    .tab button {
        width: 100%;
        /* Full width buttons for easier clicking */
    }

    /* Optional: Adjust font size for smaller screens */
    .tab button {
        font-size: 14px;
        /* Slightly smaller font size */
    }


    /* LEARNING  */
    .learning-box {
        padding: 15px;
        /* Slightly reduce padding */
        font-size: 0.9em;
        /* Adjust font size for readability */
    }

    table,
    th,
    td {
        font-size: 0.8em;
        /* Smaller font size for table contents */
    }

    /* Make table scrollable on small screens */
    #courses-table {
        overflow-x: auto;
    }

    /* SKILLS */

    .skills-section {
        flex: 0 1 100%;
        /* Takes full width on smaller screens */
        margin: 0;
        /* Adjusted for vertical stacking */
    }

    .skills-section h2 {
        color: #ddd;
        font-size: 1em;
        margin-bottom: 0px;
    }

    .skills-list li {
        font-size: 0.9em;
        /* Adjust font size for better readability on small screens */
    }

    .skill-icon {
        width: 20px;
        /* Smaller icons for smaller screens */
    }


    /* INTERESTS */

    .interests-grid {
        gap: 20px;
        /* Reduce the gap for smaller screens */
        padding: 20px;
        /* Reduce the overall padding for smaller screens */
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        /* Adjust the min size for smaller screens */
    }

    .interest-icon {
        width: 30px;
        /* Smaller icons on small screens */
    }

    .interest-name {
        font-size: 0.8em;
        /* Slightly smaller text on small screens */
    }




}



/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .learning-box {
        padding: 15px;
        /* Slightly reduce padding */
        font-size: 0.8em;
        /* Adjust font size for readability */
    }

    table,
    th,
    td {
        font-size: 0.8em;
        /* Smaller font size for table contents */
    }

    /* Make table scrollable on small screens */
    #courses-table {
        overflow-x: auto;
    }
}


@media screen and (max-width: 768px) {

    .bio-wrapper {

        grid-template-columns: 1fr;
    }

    .bio-image {
        display: none;
    }

    .bio-text {
        padding: 30px;
        text-align: justify;
        /* Justify text for better readability */
        font-size: 13px;
        /* Adjust font size for smaller screens */
    }


}