* {
    font-family: var(--font-family-main);
}

.about-section {
    padding: 3px 0px;
}

.tab-container {
    display: inline-block;
    border: 1px solid #333;
    text-align: center;

}

.tab {
    display: flex;
    justify-content: center;
}



.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    color: white;
    font-size: 17px;

}


.tab button:hover {
    color: var(--color-accent);
}

.tab button.active {
    color: var(--color-tab);
}

.tab button:first-child.active {
    background-color: var(--color-accent);
}


.tab button:nth-child(2).active {
    background-color: #3498db;
}

.tab button:nth-child(3).active {
    background-color: white;
}


.tab button:last-child.active {
    background-color: #46cdd4;
}



.tabcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    max-height: 76vh;
    overflow: auto;
    background-color: var(--color-tab);
    display: none;
}


#Bio {
    border-left: 3px solid var(--color-accent);
}

.bio-text {
    padding: 50px 100px;
}

.bio-wrapper {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

.bio-text h3 {
    margin: 10px 0;
    font-size: 17px;
    color: #93e3f3;
}


.bio-text p {
    background-color: var(--color-tab);
    color: rgb(242, 246, 247);
    font-size: 15px;
    margin: 0;
    padding: 0px 5px;
    border-left: none;
    text-align: justify;
}



.bio-image {
    max-width: 200px;
    align-self: center;
}



/* #######################  LEARNING ################################## */


#Learning {
    border-left: 3px solid #3498db;
}

.learning {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 10px;
    display: inline-block;
    text-align: left;
    max-width: 100%;


}



.learning-box {
    max-width: 90%;
    margin: 10px auto;
    border: 2px solid #222;
    background-color: var(--color-tab);
    color: rgb(242, 246, 247);
    padding: 20px;
    box-shadow: 5px 5px 5px #333;
    border-radius: 15px;
    text-align: justify;
}


#course-table {
    border-left: 3px solid #3498db;

}


.first-letter {
    font-size: 1.2em;
    font-weight: 900;
}

#toggleCoursesTable {
    padding: 10px 15px;
    background-color: #3498db;
    color: rgb(242, 246, 247);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    display: inline-block;
    margin: 0px 0px 10px 0px;
}

#toggleCoursesTable:hover {
    background-color: #2980b9;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 5px;
}


th {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

td a {
    display: block;
    padding: 5px 10px;
    background-color: #3498db;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;

}


td a:hover {
    background-color: #2980b9;
}

.center-link a {
    display: block;
    text-align: center;
    width: 100%;
    margin: auto;
}

/* ####################  SKILL  ############################# */



#Skills {
    border-left: 3px solid white;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    height: 76vh;
    overflow: auto;
    padding-left: 10px;
}

.skills-section {
    flex: 0 1 calc(50% - 100px);
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
    color: rgb(143, 147, 148);
}

.skills-section h2 {
    color: #ddd;
    font-size: 1.1em;
    margin-bottom: 20px;
}

.skills-list {
    list-style-type: none;
    padding: 0;
}

.skills-list li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.skills-list li strong {
    font-size: 0.9em;

    color: #0D0D0D;
    color: rgb(143, 147, 148);
}

.skill-icon {
    width: 25px;
    height: auto;
    margin-bottom: -5px;
}

/* ####################  INTEREST  ############################# */
#Interests {
    border-left: 3px solid #46cdd4;
}

.interests-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 50px;
    justify-items: center;
    align-items: center;
    padding: 50px 100px;
    height: 76vh;
    overflow: auto;

}

.interest {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.interest-icon {
    width: 45px;
    height: auto;
    margin-bottom: 8px;
}

.interest-name {
    font-size: 0.9em;
    color: rgb(242, 246, 247);
}

/* ################## RESPONSIVENESS ################## */
@media (max-width: 768px) {
    .tab-container {
        width: 100%;
        box-sizing: border-box;
    }

    .tab {
        flex-direction: row;
    }

    .tab button {
        width: 100%;
    }

    .tab button {
        font-size: 14px;
    }

    .tabcontent {
        padding: 1px;
    }


    #Bio,
    #Skills,
    #Interests {
        border-left: none;
    }



    .bio-wrapper {
        grid-template-columns: 1fr;
        border-left: 1px solid var(--color-accent);
    }

    .bio-image {
        display: none;
    }

    .bio-text {
        padding: 5px;
        font-size: 14px;
        text-align: justify;

        color: #333;
        font-family: 'Courier New', monospace;

    }

    .bio-text h3 {
        text-align: center;
        font-size: 16px;
    }


    .bio-text p {
        background-color: rgb(242, 246, 247);
        background-color: var(--color-tab);
        color: rgb(242, 246, 247);
        font-size: 14px;
        margin: 0;
        padding: 3px 20px;
        border-left: none;
        line-height: 1.3em;
    }

    /* LEARNING  */

    #Learning {
        border-left: 1px solid #3498db;

    }

    .learning {
        border-left: none;
    }

    .learning-box {
        padding: 15px;
        font-size: 0.8em;
    }

    table,
    th,
    td {
        font-size: 0.8em;
    }


    #courses-table {
        overflow-x: auto;

    }

    .learning {
        overflow-y: auto;
        max-height: 65vh;
    }

    table,
    th,
    td {
        font-size: 0.8em;
    }

    #courses-table {
        overflow-x: auto;
    }

    /* SKILLS */

    .skills {
        border-left: 1px solid white;
    }

    .skills-section {
        flex: 0 1 100%;
        margin: 0;
    }

    .skills-section h2 {
        color: #ddd;
        font-size: 1em;
        margin-bottom: 0px;
    }

    .skills-list li {
        font-size: 0.9em;
    }

    .skill-icon {
        width: 20px;
    }


    /* INTERESTS */
    .interests-grid {
        gap: 20px;
        padding: 20px;
        grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
        border-left: 1px solid #46cdd4;
    }

    .interest-icon {
        width: 30px;
    }

    .interest-name {
        font-size: 0.8em;
    }

    .bio-text,
    .skills,
    .interests-grid {
        padding-bottom: 100px;
    }
    #courses-table {
    padding-bottom: 100px;
    }

}