.main-content {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    align-items: start;
    justify-content: center;
}

.main-content>div:first-child {
    border-right: var(--border-standard);
}

.main-content>div:first-child {
    position: relative;
}

.left-sidebar {
    color: rgb(47, 159, 163);
    width: 100%;
}

.left-sidebar {
    color: rgb(47, 159, 163);
    width: 100%;
    position: relative;
}


.dropdown {
    border-bottom: var(--border-standard);
    padding-bottom: 5px;
}


.dropdown-content {
    display: none;
    background: transparent;
    padding: 10px;
}

.dropdown-content {
    position: absolute;
    z-index: 100;
    width: 100%;
    display: none;
    background: #000;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.dropdown-content a {
    color: rgb(47, 159, 163);
    padding: 12px 0px;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease;
}

.dropdown-content a:before {
    margin-right: 8px;
}


.dropdown-content a:hover {
    color: #ffffff;
}


.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    padding: 5px;
    width: 100%;
    background: transparent;
    font-family: var(--font-family-main);
    color: #fff;
    border: none;
    font-size: 1.1em;
    outline: none;
}


.dropdown-btn span {
    margin-left: 10px;
    margin-bottom: -5px;
}

.dropdown-btn::before {
    content: '\25B6';
    font-size: 1.2em;
    transition: transform 0.2s ease-in-out;
}

.dropdown-btn.active::before {
    transform: rotate(90deg);
}




.contact-form {
    padding: 40px;
    margin: 10px auto;
    margin-top: 100px;
    min-width: 70%;
}

.form-field {
    margin-bottom: 20px;
    position: relative;

}

.form-field label {
    display: block;
    color: rgb(143, 147, 148);
    margin-bottom: 5px;
}

.form-field input,
.form-field textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #333;
    background-color: #000;
    color: var(--color-primary);
    border-radius: 3px;
    outline: none;
}

.form-field .error-message {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
    font-size: 0.75em;
    display: none;
}

.form-field .submit-message {
    font-family: 'Consolas', 'Monaco', monospace;
    font-size: 1rem;
    background-color: #0c0e24;
    color: rgb(143, 147, 148);
    border: 0.1px solid #333;
    padding: 15px 30px;
    margin-top: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.form-field .submit-message:hover {
    color: rgb(47, 159, 163);
}


ol.code-snippet {
    counter-reset: line;
    list-style: none;
    padding-left: 0px;
    margin-top: 150px;
    overflow-x: auto;
}

ol.code-snippet li {
    font-family: var(--font-family-main);
    position: relative;
    padding-left: 50px;
    margin: 0;
    line-height: 0;
    white-space: nowrap;
}

ol.code-snippet li:before {
    content: counter(line);
    counter-increment: line;
    position: absolute;
    left: 0;
    text-align: right;
    width: 30px;
    margin-right: 10px;
    color: #7a7a7a;

}


.keyword {
    color: #d656d2;
}

.variable {
    color: green;
}

.property {
    color: #4D5BCE;
}

.string {
    color: #ce9178;
}

.method {
    color: red;
}





/* ############### RESPONSIVENESS ############### */
@media (max-width: 768px) {
    .main-content {
        grid-template-columns: 1fr;
        gap: 20px;
        font-size: 0.9em;/
    }

    .main-content>div:first-child {
        border-right: none;
    }

    .left-sidebar,
    .dropdown-content,
    .dropdown-btn {
        font-size: 15px;
        padding: 10px;
    }

    .dropdown-content {

        width: calc(100% - 20px);
    }

    .contact-form {
        margin: 20px auto;
        padding: 20px;
        min-width: auto;
        width: 90%;
    }


    .form-field .submit-message {
        font-size: 0.9em;
    }


}

@media (max-width: 600px) {
    ol.code-snippet {
        display: none;
    }
}