body,
html {
    height: 100%;
    margin: 0;
    font-family: 'Fira Code', monospace;
    background-color: #0e1116;
    color: #ffffff;
}

.terminal {
    padding: 20px;
    height: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.navbar a {
    text-decoration: none;
    color: #ffffff;
    margin: 0 10px;
}

.content h1 {
    font-size: 2em;
}

.content span {
    color: #08fdd8;
}

.github-link {
    color: #08fdd8;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}